<!DOCTYPE html>
<html>
<head>
    <title>EnHub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
            /* The alert message box */
        .alert {
            padding: 20px;
            color: white;
            margin-bottom: 15px;
            background-color: #f44336; /* Red */
        }
    

        /* The close button */
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Factory Robot</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/talents">Talent</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if (session.user !== undefined) { %>
                <li><a href="/users/transactions"><span class="glyphicon glyphicon-user"></span> My Transaction</a></li>
                <li><a href="/users/logOut"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                <% } else {%>
                    <li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                     <li><a href="/users/signin"><span class="glyphicon glyphicon-book"></span> Login</a></li>
                <% } %>
          </ul>
        </div>
      </nav>