<%- include ../../partials/header.ejs %>

<div class="container">
    <h1>  Sign In </h1>
    <h2> Welcome Talents</h2>
    <%if (msg) { %>
        <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <%- msg %>
        </div>
    <% } %>
    
    <form action="/talents/signin" method="POST">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <input type="submit" class="btn btn-default" value="Sign In">
      </form>

</div>

</body>
</html>