<%- include ../partials/header.ejs %>

<a type="button" class="btn btn-primary btn-lg btn-block" href="/users/signin">Sign In as Business Owner</a>
<a type="button" class="btn btn-primary btn-lg btn-block" href="/talents/signin">Sign In as Talent</a>