<%- include ../partials/header.ejs %>

<a type="button" class="btn btn-primary btn-lg btn-block" href="/users/signup">Register as Business Owner</a>
<a type="button" class="btn btn-primary btn-lg btn-block" href="/talents/signup">Register as Talent</a>